/* GLOBALS */
:root {
    --azul:#1F3B73;
    --azulOscuro: #0C2240;
    --verdeAguaOscuro: #195973;
    --verdeAguaClaro: #3B7D8C;
    --beige: #D9D2C5;
}

body {
    background-color: whitesmoke;
}

/* NAVBAR */

.navbar-bg {
    background-color: var(--azulOscuro);
}

.navbar-bg a {
    color: whitesmoke;
}

.btn-primary {
    background-color: var(--verdeAguaClaro);
    border-color: var(--verdeAguaOscuro);
  }

.btn-primary:hover {
    background-color: var(--verdeAguaOscuro);
    border-color: var(--verdeAguaOscuro);
}

.btn-primary:active {
    background-color: var(--verdeAguaOscuro);
    border-color: var(--verdeAguaOscuro);
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .nav-link:hover {
    color: var(--verdeAguaClaro);
  }

  .navbar-brand:hover{
    color: var(--verdeAguaClaro);
  }

  

/* BOTONES */




  /* PLAZO FIJO */

  .plazofijo-img {
    object-fit: contain;
  }

  .alert {
    background-color: var(--verdeAguaOscuro);
    color: whitesmoke;
  }

  /*TRACKER */

  .thead-dark {
    background-color: var(--verdeAguaOscuro);
    color: whitesmoke;
  }

  .deleteBtn {
    border: none;
    background-color: whitesmoke;
  }

  .editBtn {
    border: none;
    background-color: whitesmoke;
  }

  .greentext {
    color: green;
    font-weight: bold;
  }